# ===============================
# Environment & Secrets
# ===============================
.env

# ===============================
# Output Folders
# ===============================
reports/
logs/

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db